body {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
}
.container{
  margin-top: 20px;
}
.search-form {
  padding: 15px;
}

.searchbar {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 10px;
  border: transparent;
  color: white;
  background-color: rgba(255, 255, 255, 0.219);
  text-transform: capitalize;
}
.searchbar:hover {
  transition: 150ms ease-in-out;
}
.searchbutton {
  margin: 0 auto;
  margin-top: 5px;
  display: block;
  border-radius: 10px;
  border: 1px solid rgb(239, 239, 240);
}
.searchbutton:hover {
  transition: 150ms ease-in-out;
  background-color: 1px solid rgb(147, 174, 224);
}

.city {
  margin-top: 5px;
  text-align: center;
  text-transform: capitalize;
}
.datetime {
  text-align: center;
}
.current {
  font-size: 20px;
  margin-left: 30px;
}
.temp strong {
  margin-left: 30px;
  font-size: 55px;
}
.temp {
  margin-top: -15px;
  font-size: 20px;
}
.metric {
  color: inherit;
}
.imperial {
  color: inherit;
}
.container {
  background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1d2671,
    #c33764
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1d2671,
    #c33764
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 500px;

  border-radius: 30px;
}
.searchbar {
  margin-top: 10px;
}
h2 {
  font-size: 45px;
}
.moreinfo {
  margin-top: 70px;
  margin-bottom: -90px;
  position: relative;
  right: -280px;
  bottom: 145px;
  font-size: 17px;
  text-transform: capitalize;
  list-style-type: none;
}
.row {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  text-align: center;
}

.weather-forecast-temperatures {
  padding: 20px;
}
.weather-forecast-temperature-max {
  color: white;
}
.weather-forecast-temperature-min {
  color: gainsboro;
  display: inline;
}

.source {
  text-align: center;
  font-size: smaller;
}
